.ag-theme-alpine {
  --ag-font-size: 12px;
}

.rag-darkgreen {
  color: green;
  font-weight: bold;
}

.dark-theme .rag-darkgreen {
  color: lightgreen;
}

.rag-green {
  color: green;
}

.dark-theme .rag-green {
  color: lightgreen;
}

.rag-red {
  color: lightcoral;
}